body {
    background-color: rgba(21,25,29, 0.6);
    height: 98vh;
}

main {
    height: 100%;
}

.container-fluid {
    height: 100%;
}

.form-input {
    caret-color: white;
}

.form-input, .form-input:focus {
    color: white !important;
    border-color: white;
}

.register-btn {
    background-color: rgba(21,25,29, 0.8);
    color: white;
    width: 20vh;
    height: 6vh;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    text-transform: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.register-btn:hover {
    background-color: rgba(21,25,29, 0.7);
    color: white;
    font-weight: bold;
}

.action-btn {
    background-color: rgba(21,25,29, 0.8);
    color: white;
    height: 4vh;
    text-decoration: none;
    text-transform: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.action-btn:hover {
    background-color: rgba(21,25,29, 0.6);
    color: white;
}

.table-responsive {
    max-height: 58vh;
    overflow-y: scroll;
    border-radius: 6px;
}


::-webkit-scrollbar {
    width: 10px;
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background: rgba(21,25,29, 0.8);
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}