.login-container {
    height: 90vh;
}

.form-container {
    height: 100%;
}
.card-login {
    height: 50%;
    max-width: 50%;
    border-radius: 6px;
    box-shadow: 5px 5px 5px rgba(35, 32, 32, 0.4);
    background-color: rgba(21,25,29, 0.7);
    color: white;
}

.login-input {
    caret-color: white;
}

.login-input, .login-input:focus {
    color: white !important;
    border-color: white;
}