@using IdentityServer.API.Application.ViewModels.Common.Pagination
@using IdentityServer.API.Application.ViewModels.Users
@model BasePaginationViewModel<UserViewModel>

@{
	ViewData["Title"] = "Gerenciamento de Usuários";
}

<div class="home-container">
	<div>
		<h2>Gerenciamento de Usuários</h2>
	</div>

    <a asp-action="create" class="mt-5 register-btn btn mr-2">Novo</a>

	<table class="mt-3 table table-striped table-dark table-container">
        <thead>
            <tr>
                <th scope="col">Usuário</th>
                <th scope="col">E-mail</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        @foreach (var user in Model.Data)
        {
            <tbody>
                <tr>
                  <td>@user.UserName</td>
                  <td>@user.Email</td>
                  <td></td>
                </tr>
            </tbody>
        }
    </table>
</div>